<div style="text-align:center">
  <h1>
    Time to Checkout!
  </h1>
</div>

<div width="100%">
    <div id="summary" width="100%" style="text-align: center;">
        <mat-card>
            <h3>Cart Summary</h3>
            <span>Total Cost: €{{getTotalCost()}}</span><br>
            <span>Total Items in Cart: {{getTotalItemCount()}}</span><br>

            <table width="100%" style="margin-top: 50px;">
                <thead>
                    <tr>
                        <td width="30%"><strong>Name</strong></td>
                        <td width="10%"><strong>Price</strong></td>
                        <td width="10%"><strong>Quantity</strong></td>
                        <td width="10%"></td>
                        <td width="10%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cart">
                        <td width="30%">{{item.name}}</td>
                        <td width="10%">€{{item.price}}</td>
                        <td width="10%">{{item.quantity}}</td>
                        <td width="10%"><button mat-button color="primary" (click)="removeOne(item.id)" >Remove One</button></td>
                        <td width="10%"><button mat-button color="accent" (click)="removeAll(item.id)" >Remove All</button></td>
                    </tr>
                </tbody>
            </table>
        </mat-card>
    </div>
</div>
